<h2>Properties currently held by Alazhar Inc.</h2>
<% if @houses.empty? %>
<p>There are no properties yet.</p>
<% else %>
<ul>
<% @houses.each do |h| %>
<li>Address: <%= h.address %> | Purchase Price: <%= h.purchase_price %><% if current_user.admin? %> | <%= link_to 'Edit Property', edit_house_path(h.id) %> | <%= link_to 'Delete Property', house_path(:id => h.id), method: :delete, data:  {confirm: "Are you sure?"} %><% end %></li>
<% end %>
</ul>

<% end %>

<% if current_user.admin? %>
<%= link_to "New Property", new_house_path %>
<% end %>

