<!DOCTYPE html>
<html>
<head>
  <title>Alazhar Management LLC Investor Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "header"><h1>Alazhar Management, LLC</h1></div>
	<div class = "nav">
		<% if current_user %>
		<%= link_to "View properties", houses_path %> | <%= link_to "View my account", user_path(current_user.id) %></div>
		<% if current_user.admin? %>
		<%= link_to "View/Edit Investors", users_path %>
		<% end %>
		<% end %>

	<% flash.each do |type, message| %>
    <div class="alert"><%= message %></div>
    <% end %>

<%= yield %>

<div class = "footer">
	<% if current_user %>
		Logged in as <%= current_user.first_name %> <%= current_user.last_name %> <%= link_to "Log Out", logout_path %>
	<% else %>
		<%= link_to "Log In", login_path %>
	<% end %>
</div>

</body>
</html>
